
@{
    ViewBag.Title = "BlogDetail Pages";
}

<h2>BlogDetail</h2>
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Blog Detail Page</h1>
                <nav class="d-flex align-items-center">
                    <a href="">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="">Blog Detail</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Blog Area =================-->
<section class="blog_area single-post-area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                @model List<FE.Model.BlogK>
                @foreach (var item in Model)
                {
                        <div class="single-post row">
                            <div class="col-lg-12">
                                <div class="feature-img">
                                    <img class="img-fluid" src="~/img/blog/@item.Hinhanh" style="width:700px; height:300px;" alt="">
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-3">
                                <div class="blog_info text-right">
                                    <div class="post_tag">
                                        <a href="#">Shoe,</a>
                                        <a class="active" href="#">@item.Danhmuc,</a>
                                        <a href="#">Enduring,</a>
                                        <a href="#">Beautiful</a>
                                    </div>
                                    <ul class="blog_meta list">
                                        <li><a href="#">Karma Shop<i class="lnr lnr-user"></i></a></li>
                                        <li><a href="#">@item.Ngaytao.ToString("dd/MM/yyyy")<i class="lnr lnr-calendar-full"></i></a></li>
                                        <li><a href="#">1.2M Views<i class="lnr lnr-eye"></i></a></li>
                                        <li><a href="#">@item.CountCmt Comments<i class="lnr lnr-bubble"></i></a></li>
                                    </ul>
                                    <ul class="social-links">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-github"></i></a></li>
                                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-9 blog_details">
                                <h2>@item.Tieude</h2>
                                <p class="excert">
                                    @item.Noidung
                                </p>
                            </div>
                            <div class="col-lg-12">
                                <div class="quotes">
                                    @*Shoes are not just a piece of clothing to protect your feet, but also a way to express your own style and personality.
        A good pair of shoes can take you to new places, and more importantly, help you confidently walk on your path.*@
                                    Giày không chỉ là một món đồ để bảo vệ đôi chân, mà còn là cách để bạn thể hiện phong cách và cá tính riêng.
                                    Một đôi giày tốt có thể đưa bạn đến những nơi mới, và quan trọng hơn, giúp bạn tự tin bước đi trên con đường của mình.
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <img class="img-fluid" src="~/img/blog/giay_the_thao_nam2.jpg" style="width:350px;height:340px;" alt="">
                                    </div>
                                    <div class="col-6">
                                        <img class="img-fluid" src="~/img/blog/nike3.jpg" style="width:350px;height:340px;" alt="">
                                    </div>
                                    <div class="col-lg-12 mt-25">
                                        <p>
                                            Giày không chỉ là sự kết hợp giữa chất liệu và thiết kế, mà còn là người bạn đồng hành, giúp bạn vững bước trong mọi hành trình.
                                            Mỗi bước đi trên đôi giày yêu thích đều mang lại cảm giác tự do và sự thoải mái, từ đó làm nổi bật phong cách riêng biệt của bạn.
                                            @*Shoes are not only a combination of materials and design, but also a companion, helping you to walk steadily on every journey.
        Every step in your favorite shoes brings a sense of freedom and comfort, thereby highlighting your unique style.*@
                                        </p>
                                        <p>
                                            Một đôi giày đẹp không chỉ hoàn thiện trang phục mà còn là biểu tượng của sự chăm sóc và tinh tế. 
                                            Chọn giày phù hợp không chỉ là việc tìm kiếm sự thoải mái, mà còn là cách để bạn thể hiện bản thân, tạo dấu ấn đặc biệt trong mắt người khác.
                                            @*A pair of beautiful shoes not only completes an outfit but also symbolizes care and sophistication.
        Choosing the right shoes is not only about finding comfort, but also a way for you to express yourself and make a special impression in the eyes of others.*@
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
            }
                        <div class="navigation-area">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                                    <div class="thumb">
                                        <a href="#"><img class="img-fluid" src="~/img/blog/prev.jpg" alt=""></a>
                                    </div>
                                    <div class="arrow">
                                        <a href="#"><span class="lnr text-white lnr-arrow-left"></span></a>
                                    </div>
                                    <div class="detials">
                                        <p>Prev Post</p>
                                        <a href="#">
                                            <h4>Space The Final Frontier</h4>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                                    <div class="detials">
                                        <p>Next Post</p>
                                        <a href="#">
                                            <h4>Telescopes 101</h4>
                                        </a>
                                    </div>
                                    <div class="arrow">
                                        <a href="#"><span class="lnr text-white lnr-arrow-right"></span></a>
                                    </div>
                                    <div class="thumb">
                                        <a href="#"><img class="img-fluid" src="~/img/blog/next.jpg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                         @foreach(var listcmt in Model) {
                        <div class="comments-area">
                            <h4>@listcmt.CountCmt Comments</h4>
                            <div class="comment-list">
                                @foreach(var cmt in listcmt.Comments)
                                {
                                <div class="single-comment justify-content-between d-flex">
                                    <div class="user justify-content-between d-flex">
                                        <div class="thumb">
                                            <img src="~/img/blog/c1.jpg" alt="">
                                        </div>
                                        <div class="desc">
                                            <h5><a href="#">@cmt.TenNguoiCmt</a></h5>
                                            <p class="date">@cmt.NgayTao </p>
                                            <p class="">
                                                @cmt.NoiDung
                                            </p>
                                        </div>
                                    </div>
                                    <div class="reply-btn">
                                        <a href="" class="btn-reply text-uppercase">reply</a>
                                    </div>
                                </div>}
                            </div>

                        </div>
                             
                         }
                        @foreach(var blog in Model) { 
                        <div class="comment-form">
                            <h4>Leave a Reply</h4>
                            <form method="post" action="@Url.Action("CreateCommentInBlog", "Blog")">
                                <input type="hidden" name="idBlog" value="@blog.MaBlog" />
                                <div class="form-group">
                                    <textarea class="form-control mb-10" rows="5" name="content" placeholder="Messege"
                                              onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nhập bình luận...'" required=""></textarea>
                                </div>
                                @*<span style="color:red;">@TempData["EROR"]</span>*@
                                <button href="#" class="primary-btn submit_btn" type="submit">Post Comment</button>
                            </form>
                        </div>}
                    </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search Posts" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Posts'">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><i class="lnr lnr-magnifier"></i></button>
                            </span>
                        </div><!-- /input-group -->
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget author_widget">
                        <img class="author_img rounded-circle" src="~/img/blog/author.png" alt="">
                        <h4>Charlie Barber</h4>
                        <p>Senior blog writer</p>
                        <div class="social_icon">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                            <a href="#"><i class="fa fa-behance"></i></a>
                        </div>
                        <p>
                            Boot camps have its supporters andit sdetractors. Some people do not understand why you
                            should have to spend money on boot camp when you can get. Boot camps have itssuppor
                            ters andits detractors.
                        </p>
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">Popular Posts</h3>
                        <div class="media post_item">
                            <img src="~/img/blog/popular-post/post1.jpg" alt="post">
                            <div class="media-body">
                                <a href="blog-details.html">
                                    <h3>Space The Final Frontier</h3>
                                </a>
                                <p>02 Hours ago</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="~/img/blog/popular-post/post2.jpg" alt="post">
                            <div class="media-body">
                                <a href="blog-details.html">
                                    <h3>The Amazing Hubble</h3>
                                </a>
                                <p>02 Hours ago</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="~/img/blog/popular-post/post3.jpg" alt="post">
                            <div class="media-body">
                                <a href="blog-details.html">
                                    <h3>Astronomy Or Astrology</h3>
                                </a>
                                <p>03 Hours ago</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="~/img/blog/popular-post/post4.jpg" alt="post">
                            <div class="media-body">
                                <a href="blog-details.html">
                                    <h3>Asteroids telescope</h3>
                                </a>
                                <p>01 Hours ago</p>
                            </div>
                        </div>
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget ads_widget">
                        <a href="#"><img class="img-fluid" src="~/img/blog/add.jpg" alt=""></a>
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">Post Catgories</h4>
                        <ul class="list cat-list">
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>Technology</p>
                                    <p>37</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>Lifestyle</p>
                                    <p>24</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>Fashion</p>
                                    <p>59</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>Art</p>
                                    <p>29</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>Food</p>
                                    <p>15</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>Architecture</p>
                                    <p>09</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>Adventure</p>
                                    <p>44</p>
                                </a>
                            </li>
                        </ul>
                        <div class="br"></div>
                    </aside>
                    <aside class="single-sidebar-widget newsletter_widget">
                        <h4 class="widget_title">Newsletter</h4>
                        <p>
                            Here, I focus on a range of items and features that we use in life without
                            giving them a second thought.
                        </p>
                        <div class="form-group d-flex flex-row">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                </div>
                                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter email"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'">
                            </div>
                            <a href="#" class="bbtns">Subcribe</a>
                        </div>
                        <p class="text-bottom">You can unsubscribe at any time</p>
                        <div class="br"></div>
                    </aside>
                    <aside class="single-sidebar-widget tag_cloud_widget">
                        <h4 class="widget_title">Tag Clouds</h4>
                        <ul class="list">
                            <li><a href="#">Thể thao</a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#">Architecture</a></li>
                            <li><a href="#">Fashion</a></li>
                            <li><a href="#">Food</a></li>
                            <li><a href="#">Technology</a></li>
                            <li><a href="#">Lifestyle</a></li>
                            <li><a href="#">Art</a></li>
                            <li><a href="#">Adventure</a></li>
                            <li><a href="#">Food</a></li>
                            <li><a href="#">Lifestyle</a></li>
                            <li><a href="#">Adventure</a></li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Blog Area =================-->